.hai{
   color: aqua;
}
.hoi{
    color: rgb(139, 210, 81);
    font-size: 24px;
    
}
.heading{
    color: blueviolet;
}
.main{
    background-color: black;
}
.key{
    color: coral;
    font-size: 60px;
    font-family: cursive;

}
button{
    font-size: 100px;
    color:rgb(220, 201, 29);
    background-color:silver;
    border-radius: 25px;
    background: url(OIP.jpg);
    background-position: left top;
    background-repeat: repeat;
    padding: 20px;
    width: 200px;
    height: 150px;
    
}
* {
    background: url(th.jpg) no-repeat center fixed;
    background-size: cover;
  }